In [65]:
print("hello world")

hello world

# Datatypes in Python

## Integer

In [66]:
#Integer

a = 10
b = 6
c = 22

print(a)
print(b)
print(c)

10
6
22

## Float

In [67]:
#Float

d = 2.4
e = 34.23
pi = 3.1416

print(d)
print(e)
print(pi)

2.4
34.23
3.1416

## String

In [68]:
#String

f = "hello" # string can be defined by single or double quote
g = 'world'
h = "hudai likhlam"

print(f)
print(g)
print(h)

hello
world
hudai likhlam

## Boolean

In [69]:
# Boolean

aa = True
bb = False

print(aa)  
print(bb)

True
False

# Complex

In [70]:
# Complex

x = 4 + 3j
y = 5j

print(x)
print(y)
print(type(x))
print(type(y))
print(x.real)
print(x.imag)

(4+3j)
5j
<class 'complex'>
<class 'complex'>
4.0
3.0

## List

In [71]:
# List

my_list = [1,2,3,4,5,6] # [] is used to define list

my_list2 = ["apple", "banana", "kacha mango", 'papaya'] # list can contain strings

my_list3 = [1, 3.1416, True, "apple", 'bus'] # list can contain different data types

print(my_list)
print(my_list2)
print(my_list3)

print(my_list[0]) # list index starts from 0 upto n-1
print(my_list[1]) 
print(my_list[2])

[1, 2, 3, 4, 5, 6]
['apple', 'banana', 'kacha mango', 'papaya']
[1, 3.1416, True, 'apple', 'bus']
1
2
3

## Dictionary

In [72]:
# Dictionary

### Declared by {}
# It's a collection of key-value pairs
# It is unordered and mutable (can be changed)
# It can hold different data types [even other dictionaries and lists]
# Can have duplicate values but not duplicate keys

x = {
    "name": 'Dipto',
    "age": 22,
    "is_student": True,
    'hobbies': ['coding', 'gaming', 'traveling'] ## can use "" or '' for keys and values
}

print(x)
print(x["name"])
print(x["age"])
print(x["is_student"])
print(x["hobbies"])
print(x["hobbies"][0]) # accessing first index of hobbies list
print(x["hobbies"][1]) # accessing second index of hobbies list
print(x["hobbies"][2]) # accessing third index of hobbies list

x['name'] = "new name" # changing the value of name key
print(x['name'])
x['hobbies'].append('new hobby poetry') # adding new hobby to hobbies list
print(x['hobbies'])

{'name': 'Dipto', 'age': 22, 'is_student': True, 'hobbies': ['coding', 'gaming', 'traveling']}
Dipto
22
True
['coding', 'gaming', 'traveling']
coding
gaming
traveling
new name
['coding', 'gaming', 'traveling', 'new hobby poetry']

## Tuple

In [73]:
# Tuple

### Declared by ()
# It's an ordered collecton of items
# It cannot be changed (immutable)
# It can hold different data types [even other tuples and lists]
# Can have duplicate values

x = (1, 11, 11, 22, 45, 23)

y = ("apple", "banana", 'kacha mango', 'papaya')

z = (1, 3.1416, True, "apple", 'bus')

print(x)
print(x[0]) # tuple index starts from 0 upto n-1
print(x[1]) 
print(y)
print(z)

(1, 11, 11, 22, 45, 23)
1
11
('apple', 'banana', 'kacha mango', 'papaya')
(1, 3.1416, True, 'apple', 'bus')

## Set

In [74]:
# Set

### Declared by {}
# It's an unordered collection of unique items
# It is mutable (can be changed)
# It can hold different data types [even other sets and lists]

my_set ={1, 2, 3, 4, 5}

my_set2 = {"apple", "banana", 'kacha mango', 'papaya'}

my_set3 = {1, 3.1416, True, "apple", 'bus'}

print(my_set)
print(my_set2)
print(my_set3)

# set does not support indexing
# print(my_set[0]) ==> this will give error because set does not support indexing

{1, 2, 3, 4, 5}
{'papaya', 'banana', 'kacha mango', 'apple'}
{1, 3.1416, 'bus', 'apple'}

## Type checking

In [75]:
a = 20

b = 3.2

c = 'hello'

d = "world"

e = {
    "brand": "Ford",
    "model": 'Focus',
    'year': 2026
}

f = True

g = False

h = [1, 2, 3, 3, 7, 7, 9]

i = (3, 4, 5, 5, 8, 8, 10)

j = {1, 3, 5, 33, 8, 12, 10}


print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))
print(type(i))                              
print(type(j))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'dict'>
<class 'bool'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'set'>

In [76]:
### From GITHUB 30 days of python programming

# Checking data types
print(type(10))          # Int
print(type(3.14))        # Float
print(type(1 + 3j))      # Complex number
print(type('Asabeneh'))  # String
print(type([1, 2, 3]))   # List
print(type({'name':'Asabeneh'})) # Dictionary
print(type({9.8, 3.14, 2.7}))    # Set
print(type((9.8, 3.14, 2.7)))    # Tuple

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'set'>
<class 'tuple'>