# Exercise

### 1. Filter only negative and zero in the list using list comprehension
* numbers = [-4, -3, -2, -1, 0, 2, 4, 6]

In [9]:
# 1
print('1.')
numbers = [-4, -3, -2, -1, 0, 2, 4, 6]

filtered_list = [i for i in numbers if i < 0 or i == 0]
print(f'Initial list: {numbers}')
print(f'Filtered list: {filtered_list}')
print()

1.
Initial list: [-4, -3, -2, -1, 0, 2, 4, 6]
Filtered list: [-4, -3, -2, -1, 0]

### 2. Flatten the following list of lists of lists to a one dimensional list :
* list_of_lists =[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

* output
* [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
# 2
print('2.')
list_of_lists =[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

flattened_list = [i for row in list_of_lists for i in row] # general syntax: [expression for item in iterable for item in iterable2]
print(f'Initial list of lists: {list_of_lists}')
print(f'Flattened list: {flattened_list}')
print()

2.
Initial list of lists: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

### 3. Using list comprehension create the following list of tuples:

In [13]:
# 3.
# list of tuples to be created using list comprehension
# [(0, 1, 0, 0, 0, 0, 0),
# (1, 1, 1, 1, 1, 1, 1),
# (2, 1, 2, 4, 8, 16, 32),
# (3, 1, 3, 9, 27, 81, 243),
# (4, 1, 4, 16, 64, 256, 1024),
# (5, 1, 5, 25, 125, 625, 3125),
# (6, 1, 6, 36, 216, 1296, 7776),
# (7, 1, 7, 49, 343, 2401, 16807),
# (8, 1, 8, 64, 512, 4096, 32768),
# (9, 1, 9, 81, 729, 6561, 59049),
# (10, 1, 10, 100, 1000, 10000, 100000)]

print('3.')
list2 = [(i, 1, i, i**2, i**3, i**4, i**5) for i in range(11)]
print(f'The list of tuples:')
for i in range(11):
    print(list2[i])
print()

3.
The list of tuples:
(0, 1, 0, 0, 0, 0, 0)
(1, 1, 1, 1, 1, 1, 1)
(2, 1, 2, 4, 8, 16, 32)
(3, 1, 3, 9, 27, 81, 243)
(4, 1, 4, 16, 64, 256, 1024)
(5, 1, 5, 25, 125, 625, 3125)
(6, 1, 6, 36, 216, 1296, 7776)
(7, 1, 7, 49, 343, 2401, 16807)
(8, 1, 8, 64, 512, 4096, 32768)
(9, 1, 9, 81, 729, 6561, 59049)
(10, 1, 10, 100, 1000, 10000, 100000)

### 4. Flatten the following list to a new list:
* countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]
* output:
* [['FINLAND','FIN', 'HELSINKI'], ['SWEDEN', 'SWE', 'STOCKHOLM'], ['NORWAY', 'NOR', 'OSLO']]

In [24]:
# 4.

print('4.')
countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]

new_list = [[country[0].upper(), country[0][:3].upper(), country[1].upper()] for country in [item for sublist in countries for item in sublist]]
print(f'Initial list: {countries}')
print(f'New list: {new_list}')

4.
Initial list: [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]
New list: [['FINLAND', 'FIN', 'HELSINKI'], ['SWEDEN', 'SWE', 'STOCKHOLM'], ['NORWAY', 'NOR', 'OSLO']]

### 5. Change the following list to a list of dictionaries:
* countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]
* output:
* [{'country': 'FINLAND', 'city': 'HELSINKI'},
* {'country': 'SWEDEN', 'city': 'STOCKHOLM'},
* {'country': 'NORWAY', 'city': 'OSLO'}]

In [32]:
# 5
print('5.')

countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]
new_list2 = [{'country': country[0].upper(), 'city': country[1].upper()} for country in [item for sublist in countries for item in sublist]]
print(f'Initial list: {countries}')
for i in range(3):
    print(f'{new_list2[i]}')

5.
Initial list: [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]
{'country': 'FINLAND', 'city': 'HELSINKI'}
{'country': 'SWEDEN', 'city': 'STOCKHOLM'}
{'country': 'NORWAY', 'city': 'OSLO'}

### 6. Change the following list of lists to a list of concatenated strings:
* names = [[('Asabeneh', 'Yetayeh')], [('David', 'Smith')], [('Donald', 'Trump')], [('Bill', 'Gates')]]
* output
* ['Asabeneh Yetaeyeh', 'David Smith', 'Donald Trump', 'Bill Gates']

In [37]:
# 6.

print('6.')
names = [[('Asabeneh', 'Yetayeh')], [('David', 'Smith')], [('Donald', 'Trump')], [('Bill', 'Gates')]]
new_list3 = [name[0] + ' ' + name[1] for name in [item for sublist in names for item in sublist]]
print(f'Initial list: {names}')
print(f'New list: {new_list3}')

6.
Initial list: [[('Asabeneh', 'Yetayeh')], [('David', 'Smith')], [('Donald', 'Trump')], [('Bill', 'Gates')]]
New list: ['Asabeneh Yetayeh', 'David Smith', 'Donald Trump', 'Bill Gates']