# Exercise Level1

## 1. Iterate 0 to 10 using for loop, do the same using while loop.

## 2. Iterate 10 to 0 using for loop, do the same using while loop.

## 3. Write a loop that makes seven calls to print(), so we get on the output the following triangle:

### *
### **
### ***
### ****
### *****
### ******
### *******

In [41]:
# 1.

print('1.')
print(f'Printing 0 to 10 using while loop')
i = 0
while True:
    if i > 10:
        break
    print(i)
    i += 1

print()

# 2.
print('2.')
print(f'Printing 0 to 10 using while loop')
i = i - 1
while True:
    print(i)
    i -= 1
    if i < 0:
        break

1.
Printing 0 to 10 using while loop
0
1
2
3
4
5
6
7
8
9
10

2.
Printing 0 to 10 using while loop
10
9
8
7
6
5
4
3
2
1
0

In [42]:
# 3.
print('3.')

print(f'Printing pattern using for loop\n')
for i in range(1, 8):
    print(f'*' * i)
    print()

3.
Printing pattern using for loop

*

**

***

****

*****

******

*******

## 4. Use nested loops to create the following:
###  * * * * * * * *
###  * * * * * * * *
###  * * * * * * * *
###  * * * * * * * *
###  * * * * * * * *
###  * * * * * * * *
###  * * * * * * * *
###  * * * * * * * *

In [43]:
# 4.

print('4.')
print(f'Printing pattern using for loop\n')
for i in range(1, 8):
    for j in range(1, 8):
        print(f'*', end=' ')
    print()
    print()

4.
Printing pattern using for loop

* * * * * * *

* * * * * * *

* * * * * * *

* * * * * * *

* * * * * * *

* * * * * * *

* * * * * * *

## 5. Print the following pattern:
### 0 x 0 = 0
### 1 x 1 = 1
### 2 x 2 = 4
### 3 x 3 = 9
### 4 x 4 = 16
### 5 x 5 = 25
### 6 x 6 = 36
### 7 x 7 = 49
### 8 x 8 = 64
### 9 x 9 = 81
### 10 x 10 = 100

In [44]:
# 5.

print('5.')
print('Table pattern using for loop\n')
for i in range(1, 11):
    print(f'{i} x {i} = {i * i}\n')
    i += 1
    print()

5.
Table pattern using for loop

1 x 1 = 1


2 x 2 = 4


3 x 3 = 9


4 x 4 = 16


5 x 5 = 25


6 x 6 = 36


7 x 7 = 49


8 x 8 = 64


9 x 9 = 81


10 x 10 = 100

### 6. Iterate through the list, ['Python', 'Numpy','Pandas','Django', 'Flask'] using a for loop and print out the items.

### 7. Use for loop to iterate from 0 to 100 and print only even numbers

### 8.Use for loop to iterate from 0 to 100 and print only odd numbers

In [45]:
# 6.

list1 = ['Python', 'Numpy', 'Pandas', 'Django', 'Flask']
print('6.')
print(f'Printing list items using for loop\n')
for i in list1:
    print(i)

# 7.
print('7.')
print(f'Printing even numbers from 0 to 100 using for loop\n')
count = 1
for i in range(0, 101):
    if i % 2 == 0:
        print(f'Even number {count}:', i)
        count += 1
print()

# 8.
print('8.')
print(f'Printing odd numbers from 0 to 100 using for loop\n')
count = 1
for i in range(0, 101):
    if i % 2 != 0:
        print(f'Odd number {count}:', i)
        count += 1

print()

6.
Printing list items using for loop

Python
Numpy
Pandas
Django
Flask
7.
Printing even numbers from 0 to 100 using for loop

Even number 1: 0
Even number 2: 2
Even number 3: 4
Even number 4: 6
Even number 5: 8
Even number 6: 10
Even number 7: 12
Even number 8: 14
Even number 9: 16
Even number 10: 18
Even number 11: 20
Even number 12: 22
Even number 13: 24
Even number 14: 26
Even number 15: 28
Even number 16: 30
Even number 17: 32
Even number 18: 34
Even number 19: 36
Even number 20: 38
Even number 21: 40
Even number 22: 42
Even number 23: 44
Even number 24: 46
Even number 25: 48
Even number 26: 50
Even number 27: 52
Even number 28: 54
Even number 29: 56
Even number 30: 58
Even number 31: 60
Even number 32: 62
Even number 33: 64
Even number 34: 66
Even number 35: 68
Even number 36: 70
Even number 37: 72
Even number 38: 74
Even number 39: 76
Even number 40: 78
Even number 41: 80
Even number 42: 82
Even number 43: 84
Even number 44: 86
Even number 45: 88
Even number 46: 90
Even number 47: 92
Even number 48: 94
Even number 49: 96
Even number 50: 98
Even number 51: 100

8.
Printing odd numbers from 0 to 100 using for loop

Odd number 1: 1
Odd number 2: 3
Odd number 3: 5
Odd number 4: 7
Odd number 5: 9
Odd number 6: 11
Odd number 7: 13
Odd number 8: 15
Odd number 9: 17
Odd number 10: 19
Odd number 11: 21
Odd number 12: 23
Odd number 13: 25
Odd number 14: 27
Odd number 15: 29
Odd number 16: 31
Odd number 17: 33
Odd number 18: 35
Odd number 19: 37
Odd number 20: 39
Odd number 21: 41
Odd number 22: 43
Odd number 23: 45
Odd number 24: 47
Odd number 25: 49
Odd number 26: 51
Odd number 27: 53
Odd number 28: 55
Odd number 29: 57
Odd number 30: 59
Odd number 31: 61
Odd number 32: 63
Odd number 33: 65
Odd number 34: 67
Odd number 35: 69
Odd number 36: 71
Odd number 37: 73
Odd number 38: 75
Odd number 39: 77
Odd number 40: 79
Odd number 41: 81
Odd number 42: 83
Odd number 43: 85
Odd number 44: 87
Odd number 45: 89
Odd number 46: 91
Odd number 47: 93
Odd number 48: 95
Odd number 49: 97
Odd number 50: 99