# Exercise

### 1. Declare an empty list

### 2. Declare a list with more than 5 items

### 3. Find the length of your list

### 4. Get the first item, the middle item and the last item of the list

### 5. Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

### 6. Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

### 7. Print the list using print()

### 8. Print the number of companies in the list

### 9. Print the first, middle and last company

### 10. Print the list after modifying one of the companies

### 11. Add an IT company to it_companies

### 12. Insert an IT company in the middle of the companies list

### 13. Change one of the it_companies names to uppercase (IBM excluded!)

### 14. Join the it_companies with a string '#;  '

### 15. Check if a certain company exists in the it_companies list.

### 16. Sort the list using sort() method

### 17. Reverse the list in descending order using reverse() method

### 18. Slice out the first 3 companies from the list

### 19. Slice out the last 3 companies from the list

### 20. Slice out the middle IT company or companies from the list

### 21. Remove the first IT company from the list

### 22. Remove the middle IT company or companies from the list

### 23. Remove the last IT company from the list

### 24. Remove all IT companies from the list

### 25. Destroy the IT companies list

In [66]:
# 1.

print('1.')
empty_list = []
print(f'Empty list: {empty_list}')
print()

# 2.

print('2.')
listA = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(f'listA: {listA}')
print()

# 3.

print('3.')
print(f'Length of listB: {len(listA)}')
print()

# 4.

print('4.')
print(f'1st elemant of listA: {listA[0]}')
print(f'Middle element of listA: {listA[int(len(listA)/2)]}')
print(f'Last elemant of listA: {listA[-1]}')
print()

# 5.

mixed_data_types = ['Shadipto', 22, 5.7, False, 'Dhaka, Bangladesh']

# 6.

it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

# 7.

print('7.')
print(f'mixed_data_types: {mixed_data_types}')
print(f'it_companies: {it_companies}')
print()

# 8.

print('8.')
print(f'Number of it_companies: {len(it_companies)}')
print()

# 9.

print('9.')
print(f'First company: {it_companies[0]}')
print(f'Middle company: {it_companies[int(len(it_companies)/2)]}')
print(f'Last company: {it_companies[-1]}')
print()

# 10.

print('10.')
print(f'it_companies before modification: {it_companies}')
it_companies[0] = 'Meta'
print(f'it_companies after modification: {it_companies}')
print()

# 11.

print('11.')
it_companies.append('Nvidia')
print(f'it_companies after appending: {it_companies}')
print()

# 12.

print('12.')
it_companies.insert(len(it_companies)//2, 'Nintendo')
print(f'it_companies after inserting in the middle: {it_companies}')
print()

# 13.

print('13.')
it_companies[0] = it_companies[0].upper()
print(f'it_companies after changing to uppercase: {it_companies}')
print()

# 14.

print('14.')
joining = "#; ".join(it_companies)
print(f'it_companies after joining: {joining}')
print()

# 15.

print('15.')
print(f'Checking if the the company "Apple" is in the list: {"Apple" in it_companies}')
print(f'Checking if the the company "Samsung" is in the list: {"Samsung" in it_companies}')
print()

# 16.
 
print('16.')
print(f'it_companies before sorting: {it_companies}')
print(f'Sorting it_companies: {sorted(it_companies)}') # sorted() function returns a sorted list(alphabetically) in this case
print()

# 17.

print('17.')
print(f'it_companies before reversing: {it_companies}')
it_companies.reverse() # reverse() function reverses the list in place
print(f'it_companies after reversing: {it_companies}')
print()

# 18.

print('18.')
print(f'it_companies before slicing: {it_companies}')
print(f'sliceing first 3 companies: {it_companies[0:3]}')
print()

# 19.

print('19.')
print(f'it_companies before slicing: {it_companies}')
print(f'sliceing last 3 companies: {it_companies[-3:]}')
print()

# 20.

print('20.')
print(f'it_companies before slicing: {it_companies}')
print(f'sliceing middle company: {it_companies[int(len(it_companies)/2)]}')
print()

# 21.

print('21.')
print(f'it_companies before removing: {it_companies}')
del it_companies[0] # del statement removes the item at the specified index
print(f'it_companies after removing first company: {it_companies}')
print()

# 22.

print('22.')
print(f'it_companies before removing: {it_companies}')
del it_companies[int(len(it_companies)/2)]
print(f'it_companies after removing middle company: {it_companies}')
print()

# 23.

print('23.')
print(f'it_companies before removing: {it_companies}')
it_companies.pop() # pop() method removes the last item in the list
print(f'it_companies after removing last company: {it_companies}')
print()

# 24.

print('24.')
print(f'it_companies before clearing: {it_companies}')
it_companies.clear() # clear() method removes all items from the list
print(f'it_companies after clearing: {it_companies}')
print()

# 25.

print('25.')
print(f'it_companies before deleting: {it_companies}')
del it_companies # del statement deletes the list completely
try:
    print(it_companies)
except NameError:
    print('it_companies is deleted and cannot be accessed.')

1.
Empty list: []

2.
listA: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

3.
Length of listB: 10

4.
1st elemant of listA: 1
Middle element of listA: 6
Last elemant of listA: 10

7.
mixed_data_types: ['Shadipto', 22, 5.7, False, 'Dhaka, Bangladesh']
it_companies: ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

8.
Number of it_companies: 7

9.
First company: Facebook
Middle company: Apple
Last company: Amazon

10.
it_companies before modification: ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies after modification: ['Meta', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

11.
it_companies after appending: ['Meta', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Nvidia']

12.
it_companies after inserting in the middle: ['Meta', 'Google', 'Microsoft', 'Apple', 'Nintendo', 'IBM', 'Oracle', 'Amazon', 'Nvidia']

13.
it_companies after changing to uppercase: ['META', 'Google', 'Microsoft', 'Apple', 'Nintendo', 'IBM', 'Oracle', 'Amazon', 'Nvidia']

14.
it_companies after joining: META#; Google#; Microsoft#; Apple#; Nintendo#; IBM#; Oracle#; Amazon#; Nvidia

15.
Checking if the the company "Apple" is in the list: True
Checking if the the company "Samsung" is in the list: False

16.
it_companies before sorting: ['META', 'Google', 'Microsoft', 'Apple', 'Nintendo', 'IBM', 'Oracle', 'Amazon', 'Nvidia']
Sorting it_companies: ['Amazon', 'Apple', 'Google', 'IBM', 'META', 'Microsoft', 'Nintendo', 'Nvidia', 'Oracle']

17.
it_companies before reversing: ['META', 'Google', 'Microsoft', 'Apple', 'Nintendo', 'IBM', 'Oracle', 'Amazon', 'Nvidia']
it_companies after reversing: ['Nvidia', 'Amazon', 'Oracle', 'IBM', 'Nintendo', 'Apple', 'Microsoft', 'Google', 'META']

18.
it_companies before slicing: ['Nvidia', 'Amazon', 'Oracle', 'IBM', 'Nintendo', 'Apple', 'Microsoft', 'Google', 'META']
sliceing first 3 companies: ['Nvidia', 'Amazon', 'Oracle']

19.
it_companies before slicing: ['Nvidia', 'Amazon', 'Oracle', 'IBM', 'Nintendo', 'Apple', 'Microsoft', 'Google', 'META']
sliceing last 3 companies: ['Microsoft', 'Google', 'META']

20.
it_companies before slicing: ['Nvidia', 'Amazon', 'Oracle', 'IBM', 'Nintendo', 'Apple', 'Microsoft', 'Google', 'META']
sliceing middle company: Nintendo

21.
it_companies before removing: ['Nvidia', 'Amazon', 'Oracle', 'IBM', 'Nintendo', 'Apple', 'Microsoft', 'Google', 'META']
it_companies after removing first company: ['Amazon', 'Oracle', 'IBM', 'Nintendo', 'Apple', 'Microsoft', 'Google', 'META']

22.
it_companies before removing: ['Amazon', 'Oracle', 'IBM', 'Nintendo', 'Apple', 'Microsoft', 'Google', 'META']
it_companies after removing middle company: ['Amazon', 'Oracle', 'IBM', 'Nintendo', 'Microsoft', 'Google', 'META']

23.
it_companies before removing: ['Amazon', 'Oracle', 'IBM', 'Nintendo', 'Microsoft', 'Google', 'META']
it_companies after removing last company: ['Amazon', 'Oracle', 'IBM', 'Nintendo', 'Microsoft', 'Google']

24.
it_companies before clearing: ['Amazon', 'Oracle', 'IBM', 'Nintendo', 'Microsoft', 'Google']
it_companies after clearing: []

25.
it_companies before deleting: []
it_companies is deleted and cannot be accessed.

### 26. Join the following lists:
* front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
* back_end = ['Node','Express', 'MongoDB']

### 27. After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack, then insert Python and SQL after Redux.

In [67]:
# 26.

print('26.')
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node', 'Express', 'MongoDB']
joined_list = front_end + back_end

print(f'Front end technologies: {front_end}')
print(f'Back end technologies: {back_end}')
print(f'Joined list of front end and back end technologies: {joined_list}')
print()

# 27.

print('27.')
print(f'Joined list before copying: {joined_list}')
full_stack = joined_list.copy() # copy() method creates a copy of the list
full_stack.append('Redux')
full_stack.append('Python')
full_stack.append('SQL')
print(f'Full stack technologies after appending: {full_stack}')
print()

26.
Front end technologies: ['HTML', 'CSS', 'JS', 'React', 'Redux']
Back end technologies: ['Node', 'Express', 'MongoDB']
Joined list of front end and back end technologies: ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

27.
Joined list before copying: ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
Full stack technologies after appending: ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB', 'Redux', 'Python', 'SQL']